@model IEnumerable<Checkpoint2DotNet_Biblioteca.Models.Biblioteca>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.EnderecoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.Titulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BibliotecaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BibliotecaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BibliotecaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
